<form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
  
  <h3>Βασικά Στοιχεία</h3>
  <div>
    <label>Τίτλος *</label>
    <input type="text" formControlName="title">
  </div>
  
  <div>
    <label>Serial Number</label>
    <input type="text" formControlName="serialNumber">
  </div>

  <hr>

  <h3>Ειδικά Χαρακτηριστικά ({{assetType.name}})</h3>
  
  <div formGroupName="propertiesJson">
    
    <div *ngFor="let field of assetType.fields" class="form-field">
      <label>{{ field.label }} <span *ngIf="field.isRequired">*</span></label>

      <input *ngIf="field.dataType === FieldDataType.Text" 
             type="text" [formControlName]="field.name">

      <input *ngIf="field.dataType === FieldDataType.Number" 
             type="number" [formControlName]="field.name">

      <input *ngIf="field.dataType === FieldDataType.Boolean" 
             type="checkbox" [formControlName]="field.name">

      <input *ngIf="field.dataType === FieldDataType.Date" 
             type="date" [formControlName]="field.name">
             
      <div *ngIf="assetForm.get('propertiesJson.' + field.name)?.invalid && 
                  assetForm.get('propertiesJson.' + field.name)?.touched" 
           class="error">
        Το πεδίο είναι υποχρεωτικό!
      </div>
    </div>
    
  </div>

  <button type="submit" [disabled]="assetForm.invalid">Αποθήκευση</button>
</form>